@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* { 
    margin: 0;
    padding: 0;
    font-family: "Pretendard", "sans-serif";
}
body { font-size: 12px; color: #333; min-width: 1200px;}
ul,ol,li { list-style: none; }

a { color:#333; text-decoration: none; }
a:link, a:active, a:visited {
    color: #333; text-decoration: none;
}
a:hover { 
    text-decoration: none;
}

/* 상단 플로우 띠배너 */
.top_flow{
    width: 100%;
    height: 38px;
    background-color: #000;
}
.swiper-slide {
    display: flex;
    line-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 13px;
    font-family: "sans-serif";
    user-select: none;
}

.flow-wrap>a{
    color: white;
    margin-right: 120px
}


/* 헤더 시작 */
header{
    position: sticky;
    top: 0;
    height: 80px;
    margin: 0 auto;
    z-index: 998;
}
    /* 왼쪽 로고 영역 */
    .logo{
        position: absolute;
        top: 30px;
        left: 50px;
    }

    /* 가운데 메인 메뉴 영역 */
    .nav_mid{
        width: 612px;
        margin: 0 auto;
    }
        /* 메인 메뉴 상단 부분 css */
        .main_menu, .bar, .sub_menu{
            float: left;
            text-align: center;
            height: 80px;
            line-height: 80px;
            overflow: hidden;
            padding: 0px;
        }
            .main_menu>strong{
                font-size: 15px;
                margin: 0 10px;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transition: all 300ms;
                cursor: pointer;
            }
            .main_menu>strong:hover{
                border-top: 2px solid;
                border-bottom: 2px solid;
            }


        /* 드롭메뉴(메인메뉴 하단) 공통 영역 css */
        .drop_body{
            position: absolute;
            text-align: left;
            top: 80px;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            background-color: white;
            z-index: 999;
        }
        .drop_body.open{
            transition: all 0.3s ease-in-out;
            overflow: visible;
            opacity: 1;
            height: auto;
        }
        .drop_down{
            padding: 5px 0 35px 0;
        }
            /* 드롭메뉴 이미지 */
            .drop_img_wrap{
                width: 966px;
                margin: 0 auto;
            }
                .drop_img{
                    width: 320px;
                    float: left;
                    margin: 0 1px;
                    transition: all 0.5s;
                }
                .drop_img:hover{
                    filter: brightness(0.7);
                }
            /* 드롭메뉴 텍스트 */
            .drop_list_wrap{
                text-align: center;
                height: auto;
                line-height: normal;
            }
                /* 1단 구성 css */
                .drop_list{
                    display: inline-block;
                    margin: 0 25px;
                    vertical-align: top;
                }
                    .drop_list>a{
                        padding: 5px 0;
                        font-size: 15px;
                        font-weight: 500;
                    }
                        .drop_list>a>strong{
                            font-weight: 700;
                        }
                /* 2단 구성 css*/
                #list_deep>li{
                    text-align: left;
                }
                    .drop_sub_wrap{
                        padding: 10px 0 0 0;
                    }
                    .drop_sub_wrap dl dd{
                        padding: 8px 0;
                        font-size: 15px;
                    }
                        .drop_sub_wrap dl dd a{
                            color: #999;
                        }
                        .drop_sub_wrap dl dd a:hover{
                            color: #000;
                        }
                    .dl_sub_title_1, .dl_sub_title_2{
                        display: inline-block;
                        margin-left: 4px;
                    }
                    .dl_sub_title_1{
                        color: white;
                        padding: 0 8px;
                        height: 22px;
                        line-height: 22px;
                        background-color: black;
                        border-radius: 4px;
                        font-size: 10px;
                        font-weight: 600;
                        vertical-align: top;
                    }
                    .dl_sub_title_2{
                        color: rgba(0, 0, 0, 0.2);
                        font-size: 12px;
                    }
        /* 메인메뉴 서브 구역 css */
        .bar{
            margin: 0 20px 0 10px;
            color: #ddd;
        }
        .sub_menu{
            font-weight: 600;
            margin-right:20px;
            cursor: pointer;
        }

    /* 오른쪽 서브 메뉴 구성 */
    .nav_right{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        top: 17px;
        right: 45px;
        width: 120px;
    }
        .nav_right div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            box-sizing: border-box;
        }
        .right_menu{
            color: #999;
        }



/* 메인 시작 */
main{
    width: 100%;
}
    /* 메인 배너 이미지 시작 */
    .main_b_wrap{
        width: 100%;
        height: 780px;
        background: url(../img/main_b_01.jpg) no-repeat 50% 50%/cover;
    }
    /* 메인 배너 텍스트 영역 */
    .mb_txt{
        position: absolute;
        left: 10%;
        padding-right: 30px;
        bottom: 117px;
        color: white;
        z-index: 5;
        /* opacity: 0; */
    }
        .mb_txt .e1{
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin: 0 0 20px;
            line-height: 1.5;
        }
        .mb_txt .e2{
            display: block;
            font-size: 28px;
            font-weight: 500;
            margin: 0 0 8px 0;
            line-height: 1.2;
        }
        .mb_txt .e3{
            display: block;
            font-size: 20px;
            font-weight: 200;
            line-height: 1.2;
        }

    /* 메인 배너 슬라이드 영역 */
    .main_swiper_wrap{
        position: relative;
        min-width: 960px;
        width: 80%;
        left: 10%;
        bottom: 50px;
        padding: 0 0;
        display: flex;
        flex-wrap: wrap;
    }
        .main_swiper-bullet{
            flex: 1 0 auto;
            height: 3px;
            margin: 0;
            background: rgba(255, 255, 255, 0.3);
        }
        .main_swiper_wrap .checked{
            background-color: white;
        }

