@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* { 
    margin: 0;
    padding: 0;
    font-family: "Pretendard", "sans-serif";
}
body { font-size: 12px; color: #333; min-width: 1200px;}
ul,ol,li { list-style: none;  padding: 0; margin: 0;}

a { color:#333; text-decoration: none; }
a:link, a:active, a:visited {
    color: #333; text-decoration: none;
}
a:hover { 
    text-decoration: none;
}

/* <uniquifier>: Use a uniquifier for the class name */
/* <weight>: Use a value from 100 to 900 */


/* 상단 플로우 띠배너 */
.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 13px;
    height: 38px;
    line-height: 38px;
    color: white;
    background: black;
}
    .flow-text:hover .flow-wrap {
    animation-play-state: paused;
    cursor: pointer;
    }
    .flow-wrap {
    animation: textLoop 8s linear infinite both;
    margin-right: 120px;
    }

    @keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-166%, 0, 0);
        transform: translate3d(-166%, 0, 0);
    }
    }


/* 헤더 시작 */
.header_m{
    display: none;
}
.header_pc{
    position: sticky;
    top: 0;
    height: 80px;
    margin: 0 auto;
    z-index: 998;
    background-color: white;
}
    /* 왼쪽 로고 영역 */
    .logo{
        position: absolute;
        top: 30px;
        left: 50px;
    }

    /* 가운데 메인 메뉴 영역 */
    .nav_mid{
        width: 612px;
        margin: 0 auto;
    }
        /* 메인 메뉴 상단 부분 css */
        .main_menu, .bar, .sub_menu{
            float: left;
            text-align: center;
            height: 80px;
            line-height: 80px;
            overflow: hidden;
            padding: 0px;
        }
            .main_menu>a{
                position: relative;
                line-height: 80px;
            }
            .main_menu>strong{
                font-size: 15px;
                margin: 0 10px;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transition: all 300ms;
                cursor: pointer;
            }
            .main_menu>strong:hover{
                border-top: 2px solid;
                border-bottom: 2px solid;
            }


        /* 드롭메뉴(메인메뉴 하단) 공통 영역 css */
        .drop_body{
            position: absolute;
            text-align: left;
            top: 80px;
            left: 0;
            width: 100%;
            overflow: hidden;
            max-height: 0px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            background-color: white;
            z-index: 999;
        }
        .drop_up:hover .drop_body{
            max-height: 600px;
            opacity: 1;
        }
        .drop_down{
            padding: 5px 0 35px 0;
        }
            /* 드롭메뉴 이미지 */
            .drop_img_wrap{
                width: 966px;
                margin: 0 auto;
            }
                .drop_img{
                    width: 320px;
                    float: left;
                    margin: 0 1px;
                    transition: all 0.5s;
                }
                .drop_img:hover{
                    filter: brightness(0.7);
                }
            /* 드롭메뉴 텍스트 */
            .drop_list_wrap{
                text-align: center;
                height: auto;
                line-height: normal;
            }
                /* 1단 구성 css */
                .drop_list{
                    display: inline-block;
                    margin: 0 25px;
                    vertical-align: top;
                }
                    .drop_list>a{
                        padding: 5px 0;
                        font-size: 15px;
                        font-weight: 500;
                    }
                        .drop_list>a>strong{
                            font-weight: 700;
                        }
                /* 2단 구성 css*/
                #list_deep>li{
                    text-align: left;
                }
                    .drop_sub_wrap{
                        padding: 10px 0 0 0;
                    }
                    .drop_sub_wrap dl dd{
                        padding: 8px 0;
                        font-size: 15px;
                    }
                        .drop_sub_wrap dl dd a{
                            color: #999;
                        }
                        .drop_sub_wrap dl dd a:hover{
                            color: #000;
                        }
                    .dl_sub_title_1, .dl_sub_title_2{
                        display: inline-block;
                        margin-left: 4px;
                    }
                    .dl_sub_title_1{
                        color: white;
                        padding: 0 8px;
                        height: 22px;
                        line-height: 22px;
                        background-color: black;
                        border-radius: 4px;
                        font-size: 10px;
                        font-weight: 600;
                        vertical-align: top;
                    }
                    .dl_sub_title_2{
                        color: rgba(0, 0, 0, 0.2);
                        font-size: 12px;
                    }
        /* 메인메뉴 서브 구역 css */
        .bar{
            margin: 0 20px 0 10px;
            color: #ddd;
        }
        .sub_menu{
            font-weight: 600;
            margin-right:20px;
            cursor: pointer;
        }

    /* 오른쪽 서브 메뉴 구성 */
    .nav_right{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        top: 17px;
        right: 45px;
        width: 120px;
    }
        .nav_right div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            box-sizing: border-box;
        }
        .right_menu{
            color: #999;
        }



/* 메인 시작 */
main{
    width: 100%;
    height: 100%;
}
    /* 메인 배너 영역 시작 */
    .slide {
        /* layout */
        display: flex;
        flex-wrap: nowrap;
        /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
        overflow: hidden;
    
        /* position */
        /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
        position: relative;
    
        /* size */
        width: 100%;
    
        /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
        user-select: none;
    }
        .slide_item {
            /* layout */
            display: flex;
        
            /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
            position: relative;
            left: 0px;
        
            /* size */
            width: 100%;
            height: 780px;
            /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
            flex-shrink: 0;
        
            /* transition */
            transition: left 0.2s;
        }
        .slide_button {
            /* layout */
            display: flex;
            justify-content: center;
            align-items: center;
        
            /* position */
            position: absolute;
            /* 버튼이 중앙에 위치하게 하기위해 계산 */
            top: calc(50% - 16px);
        
            /* size */
            width: 32px;
            height: 32px;
        
            /* style */
            border-radius: 100%;
            background-color: #cccc;
            cursor: pointer;
        }
    
            .slide_prev_button {
                left: 10px;
            }
            .slide_next_button {
                right: 10px;
            }
    
        /* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
        .slide_item.item1 {
            background: url(../img/main_b_01.jpg) no-repeat 50% 50%/cover;
        }
        .slide_item.item2 {
            background: url(../img/main_b_02.jpg) no-repeat 50% 50%/cover;
        }
        .slide_item.item3 {
            background: url(../img/main_b_03.png) no-repeat 50% 50%/cover;
        }
        .slide_item.item4 {
            background: url(../img/main_b_04.jpg) no-repeat 50% 50%/cover;
        }
        .slide_item.item5 {
            background: url(../img/main_b_05.png) no-repeat 50% 50%/cover;
        }

        /* 메인 배너 텍스트 영역 */
        .mb_txt{
            position: absolute;
            left: 10%;
            min-width: 960px;
            width: 80%;
            height: auto;
            bottom: 15%;
            color: white;
            z-index: 5;
        }
            .mb_txt .e1{
                display: block;
                font-size: 18px;
                font-weight: 300;
                margin: 0 0 20px;
                line-height: 1.5;
            }
            .mb_txt .e2{
                display: block;
                font-size: 28px;
                font-weight: 500;
                margin: 0 0 8px 0;
                line-height: 1.2;
            }
            .mb_txt .e3{
                display: block;
                font-size: 20px;
                font-weight: 200;
                line-height: 1.2;
            }
    
    /* 페이지네이션 스타일 */
    .slide_pagination {
        /* layout */
        display: flex;
        gap: 5px;
        width: 80%;
        /* position */
        position: absolute;
        bottom: 50px;
        /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
        left: 50%;
        transform: translateX(-50%);
    }
        .slide_pagination > li {
            /* 현재 슬라이드가 아닌 것은 투명도 부여 */
            flex: 1 0 auto;
            height: 3px;
            margin: 0;
            background: rgba(255, 255, 255, 0.3);
        }
        .slide_pagination > li.active {
            /* 현재 슬라이드 색상은 투명도 없이 */
            background-color: white;
        }
        
        .slide_item_duplicate {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 0px;
            width: 100%;
            height: 300px;
            flex-shrink: 0;
            transition: left 0.15s;
        }


/* 푸터 */
.footer_m{
    display: none;
}
.footer_pc{
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
    padding: 60px 0;
    font-size: 13px;
}
    .footer_pc .footer_wrap{
        width: 1200px;
        height: 180px;
        margin: 0 auto;
    }
        .footer_pc .footer_content_wrap{
            width: 1200px;
            display: flex;
            flex-flow: row nowrap;
            font-weight: 500;
            line-height: 1.666;
            color: #555;
        }
            .footer_pc .company_info{
                width: 740px;
            }
                .f_logo{
                    margin-bottom: 20px;
                }

            .footer_pc .footer_gnb{
                width: 120px;
                margin-right: 20px;
                text-align: left;
                vertical-align: top;
            }
                .footer_gnb li{
                    padding: 0 0 10px 0;
                }

            .footer_pc .tel_info{
                width: 180px;
                text-align: left;
            }
                .tel_info .tel{
                    font-size: 20px;
                    font-weight: 900;
                    margin-bottom: 10px;
                    color: #000;
                }
                .tel_info .tel2{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1.5;
                }
            
            .btm_sns{
                padding: 20px 0 0;
                font-size: 20px;
            }
                .btm_sns li{
                    color: #000;
                    margin-right: 16px;
                    display: inline-block;
                }


        .copyright{
            width: 1200px;
            margin: 0 auto;
            padding: 20px 0 0;
        }

        .copyright span{
            float: right;
        }